
{% extends "master.html" %}

{% block title %}
  Welcome to the HIGH

{% endblock %}


{% block content %}


  <h1>Welcome to the HIGH club</h1>

  <h3>Members</h3>

  <p>Check out all our <a href="members/">members</a></p>
<style>

body {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1612720597717-6VYCX2K10IYKI8FDINK7/topcar8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
</style>





{% endblock %}




